@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/SFProDisplay-Regular.eot");
  src: url("./fonts/SFProDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url(".fonts/SFProDisplay-Regular.woff") format("woff"),
    url(".fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display";
}

body {
  margin: 0px;
  margin-top: 0px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  background-color: rgb(24, 24, 24);
  color: rgb(209, 209, 209);
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  font-size: 14px;
  line-height: 0.234;
}

.applelogo {
  fill: rgb(255, 255, 255);
  padding-left: 0;
}

.cart-logo {
  fill: rgb(209, 209, 209);
  padding-right: 0;
}

.search-logo {
  fill: rgb(209, 209, 209);
}

/* ad */
.header-icon {
  height: 43px;
}

.list li {
  padding: 0 1.5rem;
}

.hamburger {
  display: none;
}

.ad {
  text-align: center;
  background-color: rgb(28, 39, 57);
  color: white;
  padding: 15px 0px;
}

.buy {
  padding-left: 40px;
}

.message {
  font-size: 48px;
  line-height: 1.08349;
  font-weight: 600;
  color: #6e6e73;
  display: inline;
  padding: 80px;
}

#container {
  display: flex;
  align-items: center;
  background-color: rgb(245, 245, 247);
  justify-content: space-evenly;
}

.ask-specialist {
  display: flex;
  gap: 8px;
  padding-bottom: 16px;
}

.visit-apple {
  display: flex;
  align-items: center;
  gap: 8px;
}

.apple-logo {
  padding-right: px;
}

.ask-specialist-child a {
  text-decoration: none;
}

.ask-specialist-child a:hover {
  text-decoration: underline;
}

.visit-apple-child a {
  text-decoration: none;
}

.visit-apple-child a:hover {
  text-decoration: underline;
}

.product {
  margin-inline: 25px;
  padding: 30px 8px 16px;
}

.name-text {
  font-size: 14px;
  font-weight: 600;
  display: block;
  color: #1d1d1f;
  text-align: center;
}

.scroll-bar1 {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  background-color: rgb(245, 245, 247);
  padding-left: 80px;
}

.product-images {
  padding-bottom: 16px;
}

#heading {
  display: flex;
  background-color: rgb(245, 245, 247);
  padding: 100px 0px 30px 184px;
  font-weight: 600;
}

.Heading-Line1 {
  font-size: 28px;
  color: black;
}

.Heading-Line2 {
  font-size: 28px;
  color: rgb(110, 110, 115);
  font-weight: 600;
}

.item-container {
  position: relative;
  border-radius: 18px;
  background-color: #fff;
  white-space: normal;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}

.rf-ccard-img-full {
  border-radius: 18px;
}

.text-container {
  position: absolute;
  top: 10px;
  padding: 30px;
}

.item-name {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-weight: 600;
  color: #6e6e73;
  /* width: 204px; */
  padding-bottom: 8px;
}

.item-model {
  font-size: 28px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: 0.007em;
  color: #1d1d1f;
  padding-bottom: 10px;
}

.scroll-bar2 {
  background-color: rgb(245, 245, 247);
  display: flex;
  gap: 20px;
  overflow: scroll;
  overflow-x: scroll;
  max-width: 2000px;
  padding-left: 80px;
}

.item-name-color,
.item-model-color,
.price-color {
  color: white;
}

.Heading2 {
  display: flex;
  padding: 80px 0px 30px 184px;
}

.item-conatiner2 {
  position: relative;
}

.text-container2 {
  position: absolute;
  top: 10px;
  padding: 30px;
}

.item-name1 {
  font-size: 28px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: 0.007em;
  font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  color: #1d1d1f;
  padding-top: 24px;
  margin-top: 0;
}

.item-line1 {
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  color: #1d1d1f;
  padding-top: 10px;
  margin-top: 0;
}

.iphone-red {
  background-color: #fff;
  border-radius: 18px;
  height: 500px;
  width: 380px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  padding: 0px 20px;
}

.text {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  font-size: 28px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: 0.007em;
  font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  color: #1d1d1f;
  padding-top: 24px;
  margin-top: 0;
}

.product-red {
  color: red;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.buy-button {
  background-color: rgb(0, 119, 237);
  padding: 7px 15px;
  border-radius: 17px;
  color: white;
  font-size: 17px;
}

.product-color {
  color: red;
  font-size: 20px;
}

.scroll-bar3 {
  display: flex;
  gap: 20px;
  overflow: scroll;
  padding-left: 80px;
}

#product2 {
  margin-bottom: 50px;
}

.productred-section {
  background-color: rgb(245, 245, 247);
}

.red-image {
  margin-top: 80px;
}

.scroll-bar4 {
  background-color: rgb(244, 244, 246);
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  padding-left: 80px;
}

.logo-svg {
  width: 40px;
}

.des-text {
  font-size: 24px;
  font-weight: 600;
}

.hightlight-text {
  color: rgb(4, 124, 255);
}

.exchange-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50px 15px 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  background-color: white;
  width: 14.88235rem;
  flex-shrink: 0;
}

.customize-wrapper {
  padding: 20px 50px 15px 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  background-color: white;
  width: 14.88235rem;
}

.highlight-text2 {
  background-image: linear-gradient(
    to right,
    #f8ab5e 0,
    #f36961 20%,
    #a176c8 40%,
    #759beb 60%,
    #65beb3 80%,
    #70db96 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight-text4 {
  color: rgb(172, 57, 255);
}

.highlight-text5 {
  color: rgb(104, 204, 70);
}

.scroll-bar4 > .customize-wrapper {
  flex-shrink: 0;
}

.Heading2 {
  background-color: rgb(240, 240, 242);
}

.scoll5-image {
  position: relative;
  background-color: #fff;
  border-radius: 18px;
  white-space: normal;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}

.scroll-heading {
  position: absolute;
  top: 50px;
  padding: 20px;
}

.heading-wrapper {
  font-size: 28px;
  font-weight: 600;
}

.heading-wrapper1 {
  font-size: 20px;
  font-weight: 400;
}

.scrollbar-5 {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  background-color: rgb(244, 244, 246);
  padding-left: 70px;
}

.scrollbar5-item {
  display: absolute;
  border-radius: 18px;
  white-space: normal;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  flex-shrink: 0;
  background-color: white;
}

.product-image1 {
  position: relative;
  top: 70px;
  text-align: center;
}

.new {
  position: relative;
  top: 90px;
  color: brown;
}

.product-name1 {
  position: relative;
  top: 90px;
}

.product-price {
  position: relative;
  top: 140px;
}

.product-price1 {
  position: relative;
  top: 120px;
}

.prouct-name {
  font-size: 12px;
}

.plan {
  font-size: 28px;
  line-height: 1.14286;
  font-weight: 600;
}

.scroll-bar6 {
  position: relative;
  flex-shrink: 0px;
}

.scrol6-text {
  padding-left: 20px;
  position: absolute;
  top: 50px;
  color: white;
}

.scroll-6 {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  background-color: rgb(244, 244, 246);
  padding-left: 70px;
}

.plan-text {
  font-size: 28px;
  line-height: 1.14286;
  font-weight: 600;
  color: black;
}

.plan-text1 {
  color: black;
  font-size: 20px;
}

.prouct-name1 {
  font-size: 12px;
  color: black;
}

.edu-sec {
  color: black;
  font-size: 14px;
}

.quicklinks-container {
  display: flex;
  gap: 20px;
  margin: 20px 0px 30px 70px;
}

.quicklink-heading {
  padding-top: 30px;
  padding-left: 70px;
}

.quick-links {
  border-radius: 50px;
  padding: 7px;
  background-color: rgb(228, 228, 230);
}

.para-container {
  justify-content: center;
  font-size: 14px;
  padding: 30px 80px 30px 110px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(118, 118, 123);
  border-bottom: 1px solid rgb(118, 118, 123);
}

.lower-section {
  background-color: rgb(245, 245, 247);
}

.footer-list ul li {
  list-style-type: none;
  color: rgb(118, 118, 123);
}

.footer-list ul h5 {
  color: black;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-list {
  display: flex;
  gap: 80px;
  justify-content: center;
  padding: 40px 0px 40px 0px;
}

footer {
  background-color: rgb(245, 245, 247);
}

.footer-line2 {
  padding-left: 120px;
  border-bottom: 1px solid rgb(118, 118, 123);
  color: rgb(118, 118, 123);
}

.lastcontainer-child1 {
  display: flex;
  gap: 20px;
}

.last-conatiner {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px 20px 120px;
  color: rgb(118, 118, 123);
}
